.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding-top: 28%;
  overflow: hidden;
}

.container > * {
  margin-top: 10px;
} 

.container:last-child {
  margin-bottom: 10px;
}

.iframes-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  overflow: auto;
  margin-top: 20px;
  padding-top: 15px;
}

.iframes-container > * {
  margin-top: 10px;
}

.iframes-container:first-child {
  margin-top: 0px;
}

body {
  width: 300px; 
  height: 400px; 
  padding: 20px; 
  background-color: rgb(86, 72, 105);
}

.button-99 {
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

.button-99:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.button-99:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

.profile-dropdown {
  display: flex;
  align-items: center;
  background-color: #e0e0ff;
  padding: 5px 10px;
  border-radius: 25px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #4a148c;
  cursor: pointer;
}

.profile-dropdown img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-dropdown .name {
  margin-right: 5px;
}

.profile-dropdown .dropdown-icon {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #4a148c;
}

.profile-dropdown:hover {
  filter: brightness(90%);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.delete-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #4a148c;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: .3s;
}

.svgIcon path {
  fill: white;
}

.delete-button:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: .3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.delete-button:hover .svgIcon {
  width: 50px;
  transition-duration: .3s;
  transform: translateY(60%);
}

.delete-button::before {
  position: absolute;
  top: -20px;
  content: "Delete";
  color: white;
  transition-duration: .3s;
  font-size: 2px;
}

.delete-button:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: .3s;
}